.container{
    background-color: antiquewhite;
    width: 400px;
    height: 400px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.box_button button{
    font-size: 20px;
    border-radius: 10px;
    border-color: antiquewhite;
    height: 50px;
    width: 150px;
    font-weight: bold;
    text-align: center;
}
#count{
    margin-top: 40px;
}